<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="AzureSql"
			 connectionString="Server=tcp:sql-less.database.windows.net,1433;
                           Initial Catalog=db_captura_boletas;
                           Persist Security Info=False;
                           User ID=carlos-less;
                           Password=pyAh2305;
                           MultipleActiveResultSets=False;
                           Encrypt=True;
                           TrustServerCertificate=False;
                           Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />

	    <!-- Local: 127.0.0.1:14333 -->
	    <add name="LocalSql"
             providerName="System.Data.SqlClient"
             connectionString="Server=127.0.0.1,14333;
                               Database=db_captura_boletas;
                               User Id=sa;
                               Password=StrongPass!123;
                               MultipleActiveResultSets=True;
                               Encrypt=True;
                               TrustServerCertificate=True;
                               Connection Timeout=15;" />
	    </connectionStrings>
</configuration>
